* {
  font-family: 'Rajdhani', sans-serif;
}

.model-node {
  height: fit-content;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background-color: #252d3d;
  display: flex;
}

.model-node * {
  color: white;
}

.model-node input {
  margin: 0;
  padding: 0;
  background-color: #2d3749;
}

.model-node button {
  color: black;
}

.model-attribute-btn-group {
  display: flex;
}

.home {
  width: 100vw;
  height: 100vh;
}

.react-flow-wrapper {
  width: 100%;
  height: 100%;
}

.test-button {
  z-index: -1;
}

.model_controls {
  position: absolute;
  top: 10px;
  z-index: 4;
}

/* sidebar */

.side-bar-container {
  position: fixed;
  right: 0;
  display: flex;
  width: fit-content;
  height: 100%;
  z-index: 99;
}

.side-bar {
  padding: 0 10%;
  height: 100vh;
  /* width: 50rem; */
  /* position: fixed; */
  /* right: 0; */
  background-color: #333333;
  overflow-y: scroll;
  transition: 0.3s;
}

.side-bar-header-container {
  /* padding: 0 10%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar-header {
  color: #c38a73;
}

.side-bar-input {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 250px;
  border-radius: 4px;
  padding: 10px;
}

.side-bar-input:focus {
  outline: none;
}

.side-bar > ul {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.dataset-button {
  margin: 0 auto 20px;
  height: 130px;
  width: 130px;
  border-radius: 10%;
  background-color: #dcdca9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.dataset-button:hover, .dataset-button:focus, .dataset-button:active {
  background-color:#aeae3f;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.button-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  position: relative;
  /* width: 2rem; */
}

.toggle {
  position: absolute;
  right: 0px;
  height: 4rem;
  /* transform: rotate(-90deg); */
  z-index: 99;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: expanded;
  background-color: #bb80b7;
  color: #cccccc;
  border: none;
  cursor: pointer;
}

.toggle:hover {
  background-color:#894485;
  transition: 0.3s;
  color: white;
}

.login-signup-form > p {
  color: #bb80b7;
  margin: 1.5em 0 0.5em;
}

.login-signup-button {
  background-color: #dcdca9;
  display: block;
  margin: 2.5rem auto;
  width: 50%;
  max-width: 200px;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.login-signup-button:hover {
  background-color:#aeae3f;
  transition: 0.3s;
}

.github-button {
  width: 80%;
}

.github-link {
  color: inherit;
  text-decoration: none;
}

.or {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.or > span {
  position: relative;
  display: inline-block;
  color: white;
}

.or > span:before,
.or > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: white;
}

.or > span:before {
  right: 100%;
  margin-right: 15px;
}

.or > span:after {
  left: 100%;
  margin-left: 15px;
}

.account {
  color: white;
  text-align: center;
}

.account > a {
  color: #4cc5ae;
}

.account > a:hover {
  cursor: pointer;
}

/* ModelEdge */

.model-edge-foreign-object {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-edge-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ModelEdge */
.model-node-header {
  width: 100%;
  height: 1.5rem;
  background-color: bisque;
}

.model-node-header button {
  height: 100%;
}

/* ModelAttribute */
.model-attribute-wrapper {
  display: flex;
  flex-direction: column;
}

.model-attribute-header {
  display: flex;
  width: 100%;
}

.model-attribute-header-btns {
  display: flex;
}

.model-attribute-header-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.model-attribute-expand-btn {
  width: 20%;
}

.model-attribute-header-content-form {
  width: 100%;
}

.model-attribute-header-content-input {
  width: 100%;
}

.model-attribute-content {
  width: 100%;
  max-height: 0;
  transition-duration: 0.2s;
  overflow: hidden;
}

.model-type-form {
  display: flex;
  position: relative;
}

.model-type-select {
  position: absolute;
  height: 100%;
  right: 0;
  width: 17px;
}

/* ModelValidation */
.model-validation-list-item {
  display: flex;
}
