.model-node {
  height: fit-content;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  display: flex;
}

.home {
  width: 100vw;
  height: 100vh;
}

.react-flow-wrapper {
  width: 100%;
  height: 100%;
}

.test-button {
  z-index: -1;
}

.model_controls {
  position: absolute;
  top: 10px;
  z-index: 4;
}

.side-bar-container {
  position: fixed;
  right: 0;
  display: flex;
  width: 20%;
  height: 100%;
  z-index: 99;
}

.side-bar {
  height: 100vh;
  width: 100%;
  /* position: fixed; */
  /* right: 0; */
  background-color: #e9effb;
  overflow-y: scroll;
}

.side-bar-header {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar > input {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 250px;
}

.side-bar > ul {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.side-bar > ul > li > button {
  margin: 0 auto 20px;
  height: 130px;
  width: 130px;
  border-radius: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  position: relative;
  /* width: 2rem; */
}

.toggle {
  position: absolute;
  right: -14px;
  height: 1.5rem;
  transform: rotate(-90deg);
  z-index: 99;
}

/* ModelEdge */

.model-edge-foreign-object {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-edge-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ModelEdge */
.model-node-header {
  width: 100%;
  height: 1.5rem;
  background-color: bisque;
}

.model-node-header button {
  height: 100%;
}

/* ModelAttribute */
.model-attribute-wrapper {
  display: flex;
  flex-direction: column;
}

.model-attribute-header {
  display: flex;
  width: 100%;
}

.model-attribute-header-btns {
  display: flex;
}

.model-attribute-header-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.model-attribute-expand-btn {
  width: 20%;
}

.model-attribute-header-content-form {
  width: 100%;
}

.model-attribute-header-content-input {
  width: 100%;
}

.model-attribute-content {
  width: 100%;
  height: 0;
  background-color: aqua;
  transition-duration: 0.2s;
}
